<p id="p2"><button (click)="logout()" class="btn btn-primary">
  <span style="font-size: small;">
      <i class="fas fa-power-off"></i>
  </span>
  Logout</button>
</p>
<p id="p1">
  Welcome! {{name}} 
</p>
<nav class="nav nav-pills nav-fill">
  <a routerLink="/student-book-search" class="nav-item nav-link">Search a Book</a>
  <a routerLink="/student-issue-book" class="nav-item nav-link">Issue a Book</a>
  <a routerLink="/student-issue-status" class="nav-item nav-link">Check status of request to issue book</a>
  <a routerLink="/student-return-book" class="nav-item nav-link">Return book</a>
  <a routerLink="/student-change-password" class="nav-item nav-link active">Change Password</a>
</nav>
<form>
  <div class="container">  
      <div class="form-group">
          Enter the new password:  <input type="text"  class="form-control" placeholder="Password" [(ngModel)]="passwordOne" name="passwordOne" id="passwordOne" required minlength="3" #isvalidb="ngModel">
          <div id="required" *ngIf="isvalidb.errors?.required"> 
              Password Required. 
          </div>
          <div id="required" *ngIf="isvalidb.errors?.minlength"> 
              Length should be atleast 3
          </div> 
      </div>
      <div class="form-group">
        Re-enter the new password:  <input type="text"  class="form-control" placeholder="Password" [(ngModel)]="passwordSecond" name="passwordSecond" id="passwordSecond" required minlength="3" #isvalidb="ngModel">
        <div id="required" *ngIf="isvalidb.errors?.required"> 
            Password Required. 
        </div>
        <div id="required" *ngIf="isvalidb.errors?.minlength"> 
            Length should be atleast 3
        </div> 
    </div>
      <button type="button" (click)="submit(passwordOne,passwordSecond)"  class="btn btn-primary">Submit</button> 
  </div>
</form>
<p [hidden]='!passwordsNotMatching'  class="alert alert-danger">The passwords do not match
</p>
