<p id="p2"><button (click)="logout()" class="btn btn-primary">
    <span style="font-size: small;">
        <i class="fas fa-power-off"></i>
    </span>
    Logout</button>
</p>
<p id="p1">
    Welcome! {{user_name}}
</p>
<nav class="nav nav-pills nav-fill">
    <a routerLink="/librarian-add-book" class="nav-item nav-link">Add Book</a>
    <a routerLink="/librarian-add-student" class="nav-item nav-link">Add Student</a>
    <a routerLink="/librarian-issue-book" class="nav-item nav-link">Issue Books to students</a>
    <a routerLink="/librarian-view-record" class="nav-item nav-link">View Records</a>
</nav>
