<p id="p2">
    <button (click)="logout()" class="btn btn-primary">
    <span style="font-size: small;">
        <i class="fas fa-power-off"></i>
    </span>
    Logout
    </button>
</p>
<p id="p1">
    Welcome! {{userName}}
</p>
<nav class="nav nav-pills nav-fill">
    <a routerLink="/librarian-add-book" class="nav-item nav-link active">Add Book</a>
    <a routerLink="/librarian-add-student" class="nav-item nav-link">Add Student</a>
    <a routerLink="/librarian-issue-book" class="nav-item nav-link">Issue Books to students</a>
    <a routerLink="/librarian-view-record" class="nav-item nav-link">View Records</a>
</nav>
<form #addbook = "ngForm" (ngSubmit) = "submit(addbook.value)">
    <div class="container">
        <div class="form-group">
            Book name:  <input type="text" class="form-control" placeholder="Book name" [(ngModel)]="id" name="id" id="id" required minlength="3" #isValidId="ngModel">
            <div id="required" *ngIf="isValidId.errors?.required"> 
                Book required. 
            </div>
            <div id="required" *ngIf="isValidId.errors?.minlength"> 
                Enter the book name
            </div> 
        </div>
        <div class="form-group"> 
            Author:  <input type="text" class="form-control" placeholder="Author" [(ngModel)]="author" name="author" id="author" required minlength="3" #isValidAuthor="ngModel">
            <div id="required" *ngIf="isValidAuthor.errors?.required"> 
                Author required. 
            </div>
            <div id="required" *ngIf="isValidAuthor.errors?.minlength"> 
                Enter the author name
            </div> 
        </div>
        <div class="form-group"> 
            Copies:  <input type="text" class="form-control" placeholder="Number of copies" [(ngModel)]="copies" name="copies" id="copies" required minlength="1" #isValidCopies="ngModel">
            <div id="required" *ngIf="isValidCopies.errors?.required"> 
                Copies required 
            </div>
            <div id="required" *ngIf="isValidCopies.errors?.minlength"> 
                Enter the number of copies
            </div> 
        </div>
        <div class="form-group"> 
            Book Cover:<input type="file"  required (change)="onFileChanged($event)" [(ngModel)]="book_cover" name="book_cover" id="book_cover" #isValidCover="ngModel">
        </div>
        <img [src]="imageShow" height="200"> 
        <input type = "submit" value = "submit" class="btn btn-primary"> 
    </div>
</form>
<p [hidden]='!bookAddedSuccessfully'  class="alert alert-success">The book has been added successfully.
</p>
