<p id="p2">
    <button (click)="logout()" class="btn btn-primary">
        <span style="font-size: small;">
            <i class="fas fa-power-off"></i>
        </span>
        Logout
        </button>
</p>

<p id="p1">
    Welcome! {{name}}
</p>

<nav class="nav nav-pills nav-fill">
    <a routerLink="/student-book-search" class="nav-item nav-link">Search a Book</a>
    <a routerLink="/student-issue-book" class="nav-item nav-link">Issue a Book</a>
    <a routerLink="/student-issue-status" class="nav-item nav-link">Check status of request to issue book</a>
    <a routerLink="/student-return-book" class="nav-item nav-link active">Return book</a>
    <a routerLink="/student-change-password" class="nav-item nav-link">Change Password</a>
</nav><br>

<table border="5px">
    <tr>
        <th>Student Id</th>
        <th>Student name</th>
        <th>Book name</th>
        <th>Issue date</th>
        <th>Return date</th>
        <th>Return Book</th>
    </tr>

    <tr>
        <td *ngIf="transaction.isIssued">{{transaction.id}}</td>
        <td *ngIf="transaction.isIssued">{{transaction.name}}</td>
        <td *ngIf="transaction.isIssued">{{transaction.book}}</td>
        <td *ngIf="transaction.isIssued">{{transaction.issueDate|date}}</td>
        <td *ngIf="transaction.isIssued">{{transaction.returnDate|date}}</td>
        <td *ngIf="transaction.isIssued">
        <button type="button" (click)="openModal(template)" class="btn btn-primary">Return book</button>
        </td>
    </tr>
</table>

<p [hidden]='!bookReturnedSuccessfully' class="alert alert-success" >Book returned successfully.
</p>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Return Book</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        Do you really want to return the book?
    </div>
    <div class="modal-footer">
        <button type="button" (click)="submit(transaction)" class="btn btn-primary">Return book</button>
        <button type="button" class="btn btn-primary" (click)="modalRef.hide()">
            <span aria-hidden="true">Cancel</span>
        </button>
    </div>
</ng-template>